@import url('https://fonts.googleapis.com/css2?family=Spartan&display=swap');
*{
    font-family: 'Spartan', sans-serif;
}

.titulo{
    font-weight: bolder;
    text-align: center;
}

.tittle_color{
    background-color: #0abab5;
}

.color_first{
  background-color: #3acbc7;
  padding-top: 0%;
}

.wave{
    width: 100%;
   
}